<div class="page">
  <mat-drawer-container class="page__container" autosize>
    <mat-drawer-content
      class="page__content d-flex flex-column align-items-center justify-content-between"
      (backdropClick)="drawer.toggle()">
      <app-header (toggleNavigation)="drawer.toggle()"></app-header>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-drawer-content>

    <mat-drawer #drawer class="page__sidenav p-5" mode="side" position="end">
      <div class="sidenav">
        qwe Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum facilis ipsa officia repellendus! Aut obcaecati tempore veritatis? Asperiores assumenda, impedit inventore ipsa molestias necessitatibus nisi nobis, pariatur repellat temporibus, velit?
      </div>
    </mat-drawer>


  </mat-drawer-container>
</div>
