.page {

  router-outlet {
    display: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  &__content {
    width: 100%;
    min-height: 100vh;
  }

  &__sidenav {
    right: 0;

    .sidenav {
    }
  }
}
